html {
  font-size: $base-font-size;
  font: $primary-font;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1 {
  font-size: 5rem;
  font-family: $primary-font;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  font: $secondary-font;
  font-weight: normal;
}

h3 {
  font-size: 1.17rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h5 {
  font-size: 0.83rem;
  font-weight: bold;
}

h6 {
  font-size: 0.67rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  font: $primary-font;
}

small {
  font-size: 0.83rem;
}

strong {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style: decimal;
  margin: 0;
  padding: 0;
}
